<div id="main-container">
    <div class="left">
      <h1><b><a href="/"> SHIVANI JAIN</a></b></h1>

      <p> 💻 Programmer, Punctual & Self Motivated.!! 🚀</p>

      <p> 📝 My <a href="https://drive.google.com/file/d/1rtOyO4w9zpU3CSRmf_8uuN51Vd4T5N5S/view" target="_blank">Resumé</a></p>

      <p> ▶️ What <a class="button" routerLink="/now" routerLinkActive="activebutton"> I'm Doing Now</a>..!!</p>

      <p> 🏆 Here are some of my <a class="button" routerLink="/projects" routerLinkActive="activebutton">Projects</a>✍🏻</p>
      <hr>
      <router-outlet></router-outlet>
    </div>

    <div class="right">
      <img src="./assets/img/shivani.jpg">
    </div>
</div>

<div id="icon-list">
    <a href="mailto:shivanijain190@gmail.com" target="_blank">
      <img src="./assets/img/gmail.svg">
    </a>
    <a href="https://github.com/shivanijain06" target="_blank">
      <img src="./assets/img/github.svg">
    </a>
    <a href="https://www.linkedin.com/in/shivanijain" target="_blank">
      <img src="./assets/img/linkedin.svg">
    </a>
    <a href="https://www.facebook.com/shivanijain190" target="_blank">
      <img src="./assets/img/facebook.svg">
    </a>
    <a href="https://www.instagram.com/shivanijain07" target="_blank">
      <img src="./assets/img/instagram.svg">
    </a>
    <a href="https://www.twitter.com/@Shivani0611998" target="_blank">
      <img src="./assets/img/twitter.svg">
    </a>
</div>
